.wrapper {
  margin:0;
  padding:0;
  height: 99.5vh;
  width: 100%;
  background-image: url('../../assets/images/planets/other/image_860908161512238084169.gif');
  display:flex;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.text{
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10%;
  height: 80%;
  width: 60%;
  color:#fff;
  text-align:center; 
  font-size: 3rem;
}

.star{
  position:absolute;
  width:2px;
  height:2px;
  background:#fff;
  right:0;
  animation:starTwinkle 3s infinite linear;
}

.astronaut img{
  width:100px;
  position:absolute;
  top:55%;
  animation:astronautFly 6s infinite linear;
}

@keyframes astronautFly{
  0%{
    left:-90px;
  }
  25%{
    top:50%;
    transform:rotate(30deg);
  }
  50%{
    transform:rotate(45deg);
    top:55%;
  }
  75%{
    top:60%;
    transform:rotate(30deg);
  }
  100%{
    left:90%;
    transform:rotate(45deg);
  }
}

@keyframes starTwinkle{
  0%{
     background:rgba(255,255,255,0.4);
  }
  25%{
    background:rgba(255,255,255,0.8);
  }
  50%{
   background:rgba(255,255,255,1);
  }
  75%{
    background:rgba(255,255,255,0.8);
  }
  100%{
    background:rgba(255,255,255,0.4);
  }
}
